.start-button {
  height: 100%;
  width: var(--taskbar-button-width);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--taskbar-hover);
  }
  svg {
    width: 1rem;
  }
}
.start-button.--active {
  background-color: var(--taskbar-hover);
}
