@import "@styles/scrollbar";

.search-menu {
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  display: flex;
  position: fixed;
  left: var(--taskbar-button-width);
  bottom: var(--taskbar-height);
  border-right-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  background-color: hsla(0, 0%, 13%, 95%);
  color: #ffffff;
  height: 100%;
  width: 100%;
  max-height: var(--search-max-height);
  max-width: var(--search-size);
  box-shadow: 3px 0 10px 3px hsla(0, 0%, 10%, 50%);
  z-index: 9999;
  backdrop-filter: blur(var(--taskbar-panel-blur));

  .search-content {
    animation: fade-in 0.85s;
    height: 100%;
    .search-tabs {
      border-bottom: 1px solid hsla(0, 0%, 13%, 40%);
      color: #fff;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      gap: 1px;
      padding: 2px 13px 0;
      position: absolute;
      li {
        color: rgb(215, 215, 215);
        padding: 15px 13px 14px;
        &.--active {
          border-bottom: 4px solid rgb(0, 120, 215);
          color: #fff;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .close-button {
      position: absolute;
      right: 25px;
      top: 15px;
      svg {
        fill: rgb(200, 200, 200);
        height: 14px;
        &:hover {
          fill: #fff;
        }
      }
    }
    .all-tab {
      overflow: auto;
      scrollbar-gutter: stable;
      // @include dark-scrollbar(13, -2, -1);
      // @include thin-scrollbar;

      display: flex;
      color: #fff;
      height: calc(100% - var(--search-header-height));
      place-content: space-evenly;
      place-items: start;
      position: absolute;
      top: var(--search-header-height);
      width: 100%;
      @supports (not (scrollbar-gutter: stable)) {
        padding-right: 13px;
        @supports not selector(::-webkit-scrollbar) {
          padding-right: 8px;
        }
        @media (hover: hover), (pointer: fine) {
          &:hover {
            padding-right: 0;
          }
        }
        &:hover {
          overflow-y: scroll;
        }
      }
      @supports (scrollbar-gutter: stable) {
        &:hover {
          overflow-y: auto;
        }
      }
      .suggestions {
        display: grid;
        padding: 9px 0 0;
        li {
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          height: 51px;
          place-items: start;
          position: relative;
          width: 100%;
          figure {
            display: flex;
            padding: 9px 16px;
            place-items: center;
            position: relative;
            top: 1px;
            figcaption {
              font-size: 15px;
              font-weight: 400;
              padding-left: 12px;
              white-space: nowrap;
            }
          }
          &::before {
            border-top: 1px solid rgba(80, 80, 80, 55%);
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
          }
          &:first-child {
            &::before {
              border-top: none;
            }
          }
          &:hover {
            background-color: rgba(80, 80, 80, 75%);
            &::before {
              border: none;
            }
            + li {
              &::before {
                border-top: none;
              }
            }
          }
        }
      }
      .recent-file {
        ol {
          display: flex;
          flex-flow: row wrap;
          gap: 5px;
          max-height: 97px;
          overflow-y: hidden;
          padding-top: 9px;
          li {
            background-color: rgba(60, 60, 60, 85%);
            border: 1px solid rgba(75, 75, 75, 85%);
            border-radius: 15px;
            display: flex;
            padding: 4px 10px;
            place-content: center;
            place-items: center;
            white-space: nowrap;
            h2 {
              bottom: 1px;
              display: block;
              font-size: 12px;
              font-weight: 400;
              height: 16px;
              max-width: 235px;
              overflow: hidden;
              padding-top: 1px;
              place-items: center;
              position: relative;
              text-overflow: ellipsis;
            }
            img {
              height: 16px;
              margin-right: 5px;
              width: 16px;
            }
            &:hover {
              background-color: rgba(80, 80, 80, 85%);
            }
          }
        }
      }

      figcaption {
        font-size: 13px;
        font-weight: 600;
        svg {
          fill: #fff;
          height: 16px;
          // margin-bottom: -3px;
          margin-right: 6px;
          width: 16px;
        }
      }

      figure.card {
        background-color: rgba(45, 45, 45, 60%);
        border-radius: 5px;
        padding: 8px 12px;
        &:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 40%);
        }
        > figcaption {
          display: flex;
          align-items: center;
          padding-left: 2px;
          white-space: nowrap;
        }
        ol {
          display: flex;
          gap: 9px;
          margin-top: 10px;
          place-content: space-between;
          li {
            display: flex;
            flex-direction: column;
            max-width: 80px;
            min-width: 80px;
            text-align: left;
            img {
              background-color: rgba(60, 60, 60, 85%);
              border-radius: 5px;
              margin-bottom: 4px;
              min-height: 80px;
              min-width: 80px;
              padding: 12px;
              pointer-events: all;
              user-select: all;
              &:hover {
                background-color: rgba(16, 88, 145, 85%);
              }
            }
            h4 {
              font-size: 11px;
              font-weight: 400;
              padding-left: 2px;
            }
            &:hover {
              h4 {
                text-decoration: underline;
              }
            }
          }
        }
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 10px 20px 24px;
        width: 100%;
      }
    }

    .no-results {
      display: flex;
      font-size: 14px;
      font-weight: 300;
      padding: 5px 15px;
      place-items: center;
      pointer-events: none;
      user-select: none;
      svg {
        fill: #fff;
        height: 32px;
        margin-right: 12px;
        width: 32px;
      }
    }
    .other-tab {
      color: rgb(175, 175, 175);
      display: flex;
      flex-direction: column;
      height: calc(100% - var(--search-header-height));
      place-content: center;
      place-items: center;
      position: absolute;
      top: var(--search-header-height);
      width: 100%;
      h1 {
        font-size: 28px;
        font-weight: 400;
        padding-top: 14px;
      }
      h3 {
        font-size: 14px;
        font-weight: 400;
        padding-top: 8px;
      }
      svg {
        fill: rgb(115, 115, 115);
        height: 128px;
        width: 128px;
      }
    }
    .search-results {
      color: #fff;
      display: flex;
      height: calc(100% - var(--search-header-height));
      position: absolute;
      top: var(--search-header-height);
      width: 100%;
      .list-result {
        // @include dark-scrollbar(13, -2, -1);
        // @include thin-scrollbar;
        background-color: rgba(40, 40, 40, 95%);
        overflow-y: auto;
        scrollbar-gutter: auto;
        width: 100%;
        .result-header {
          font-size: 13px;
          font-weight: 600;
          padding-bottom: 8px;
          padding-left: 12px;
          padding-top: 7px;
          &.--disabled {
            pointer-events: none;
            user-select: none;
          }
          &:hover {
            background-color: rgba(60, 60, 60, 95%);
          }
        }
        .search-result {
          &.--active {
            background-color: rgba(30, 80, 115, 75%);
          }
          position: relative;
          figure {
            display: flex;
            padding: 12px;
            padding-right: 32px;
            img {
              height: 32px;
              max-height: 32px;
              max-width: 32px;
              min-height: 32px;
              min-width: 32px;
              width: 32px;
            }
            figcaption {
              font-size: 8px;
              margin-top: -2px;
              max-width: calc(100% - 26px);
              padding-left: 8px;
              h1 {
                font-size: 14.5px;
                font-weight: 400;
                overflow: hidden;
                padding-right: 12px;
                text-overflow: ellipsis;
              }
              h2 {
                font-size: 13px;
                font-weight: 300;
                padding-top: 6px;
              }
            }
            &.simple {
              padding: 10px;
              img {
                height: 16px;
                max-height: 16px;
                max-width: 16px;
                min-height: 16px;
                min-width: 16px;
                width: 16px;
              }
              figcaption {
                h1 {
                  font-size: 14px;
                  font-weight: 300;
                  white-space: nowrap;
                }
              }
            }
            img:not(:first-child) {
              position: absolute;
            }
          }

          div.select {
            border-left: 1px solid transparent;
            display: flex;
            height: 100%;
            place-content: center;
            place-items: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 26px;
            svg {
              fill: #fff;
              height: 16px;
              width: 16px;
            }
          }
          &:hover {
            background-color: rgba(100, 100, 100, 95%);
            div.select {
              background-color: rgba(60, 60, 60, 95%);
              border-left: 1px solid rgba(40, 40, 40, 95%);
            }
            figure {
              &:not(:hover) {
                background-color: rgba(60, 60, 60, 95%);
              }
            }
            &.active-item {
              background-color: rgba(16, 88, 145, 95%);
            }
          }
          div.select:hover {
            background-color: rgba(100, 100, 100, 95%);
          }
        }
      }
      .result-details {
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-gutter: auto;
        // @include dark-scrollbar(13, -2, -1);
        // @include thin-scrollbar;
        background-color: rgba(20, 20, 20, 95%);
        border: 8px solid rgba(30, 30, 30, 95%);
        border-bottom: none;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        place-items: center;
        position: relative;
        width: 100%;

        img {
          padding-bottom: 18px;
          &:not(:first-of-type) {
            height: 64px;
            max-height: 64px;
            max-width: 64px;
            min-height: 64px;
            min-width: 64px;
            position: relative;
            width: 64px;
          }
        }

        h1 {
          font-size: 15px;
          font-weight: 400;
          padding-bottom: 7px;
          padding-left: 12px;
          padding-right: 12px;
          text-align: center;
          word-break: break-word;
          &:hover {
            text-decoration: underline;
          }
        }
        h2 {
          font-size: 13px;
          font-weight: 300;
        }
        table {
          border-collapse: collapse;
          border-top: 2px solid rgb(161, 161, 161);
          display: grid;
          font-size: 12px;
          gap: 10px;
          margin-top: 15px;
          padding: 15px 0;
          padding-bottom: 0;
          width: 100%;
          th {
            max-width: 100px;
            min-width: 100px;
            padding: 10px;
            text-align: left;
            white-space: nowrap;
            width: 100px;
          }
          td {
            color: rgb(208, 208, 208);
            padding-right: 5px;
            word-break: break-all;
          }
          tr:first-child {
            td {
              text-decoration: underline;
              &:hover {
                color: #fff;
              }
            }
          }
        }
        ol {
          border-top: 2px solid rgb(161, 161, 161);
          margin-bottom: 7px;
          margin-top: 15px;
          padding: 10px 0;
          width: 100%;
          li {
            button {
              color: #fff;
              display: flex;
              font-size: 12px;
              padding: 8px 18px;
              place-items: start;
              svg {
                fill: #fff;
                height: 16px;
                margin-right: 12px;
                width: 16px;
              }
            }
            &:hover {
              background-color: rgb(42, 42, 42);
            }
          }
        }
      }
    }
  }
}

.search-bar {
  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  position: relative;
  .blinking-cursor {
    left: 37px;
    top: 2px;
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    color: #000;
    animation: 1s blink step-end infinite;
  }
  svg {
    bottom: 12px;
    height: 16px;
    left: 12px;
    position: absolute;
    width: 16px;
    z-index: 2;
  }
  input {
    cursor: text;
    appearance: none;
    background-color: rgb(242, 242, 242);
    border-radius: 0;
    color: #000;
    font-size: 15px;
    height: var(--taskbar-height);
    padding-left: 37px;
    padding-right: 1rem;
    width: var(--taskbar-search-width);
    border: 2px solid hsl(0, 0%, 76%);
    &:hover {
      background-color: #fff;
      border: 2px solid hsl(0, 0%, 70%);
    }
    &:active {
      border: 2px solid rgb(0, 120, 215);
      background-color: #fff;
    }
    &:focus {
      border: 2px solid rgb(0, 120, 215);
      background-color: #fff;
    }
    &::placeholder {
      color: #000;
      inset: 0;
      left: 37px;
      opacity: 100%;
      overflow: visible;
    }
  }
  &.--active {
    input {
      background-color: #fff;
    }
  }
  &.fake-focus {
    input {
      border: 2px solid rgb(0, 120, 215);
      background-color: #fff;
    }
  }
}
