@mixin message($text, $color, $top: 0, $left: 0, $z-index: 1) {
  &::before {
    color: $color;
    content: $text;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    place-content: center;
    place-items: center;
    position: absolute;
    top: $top;
    left: $left;
    width: 100%;
    z-index: $z-index;
  }
}
