.peek-window {
  backdrop-filter: blur(var(--taskbar-blur));
  background-color: var(--taskbar-background);
  border: 1px solid var(--taskbar-peek-border);
  border-bottom: 0;
  bottom: var(--taskbar-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  place-content: center;
  place-items: flex-start;
  position: fixed;

  .title {
    display: flex;
    padding-left: 8px;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-size: var(--taskbar-entry-font-size);
    .title-text {
      display: flex;
      gap: 0.25rem;
      .text {
        width: 156px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      svg {
        fill: rgb(252, 246, 247);
        width: 12px;
      }
      &:active {
        background-color: rgb(139, 10, 20) !important;
      }
      &:hover {
        background-color: rgb(194, 22, 36);
      }
    }
  }

  .controls {
    display: flex;
    place-content: center;
    width: 100%;
    margin-bottom: 4px;
    button {
      background-color: rgb(70, 70, 70);
      border: 1px solid rgb(46, 46, 46);
      display: flex;
      height: 27px;
      place-content: center;
      place-items: center;
      width: 27px;

      &:active {
        background-color: rgb(61, 96, 153) !important;
        border: 1px solid rgb(49, 77, 122) !important;
      }

      &:hover {
        background-color: rgb(54, 101, 179);
        border: 1px solid rgb(43, 81, 143);
      }

      svg {
        fill: #fff;
        height: 16px;
        margin-left: 1px;
        pointer-events: none;
        user-select: none;
        width: 16px;
      }
    }
  }

  .peek-image {
    height: var(--taskbar-entry-peek-image-height);
    margin: var(--taskbar-entry-peek-image-margin);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: var(--taskbar-entry-peek-max-width);
    max-width: var(--taskbar-entry-peek-max-width);
    min-height: 80px;
    min-width: 80px;
    object-fit: contain;
  }
}
