@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
  font-variant-numeric: tabular-nums;
  margin: 0;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  user-select: none;
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: "Segoe UI";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
}
