.file-manager.icon-view {
  .list-file {
    .file-entry {
      background-color: transparent;
      width: 100%;
      position: relative;
      figure {
        display: flex;
        flex-direction: column;
        margin-bottom: -2px;
        place-items: center;
        img {
          &:not(:first-of-type) {
            position: absolute;
          }
        }
        figcaption {
          color: var(--file-entry-text);
          font-size: 0.75rem;
          line-height: 1.2;
          margin: 1px 0;
          padding: 2px 0;
          word-break: break-word;
        }
      }
    }
  }
  &.desktop-view {
    .list-file {
      .file-entry {
        figure {
          figcaption {
            text-shadow: var(--file-entry-text-shadow);
          }
        }
      }
    }
  }
}

.file-manager.list-view {
  .list-file {
    figure {
      display: flex;
      height: 36px;
      padding-bottom: 1px;
      padding-left: 1px;
      place-items: center;
      svg {
        fill: rgb(210, 210, 210);
        height: 8px;
        margin-left: auto;
        margin-right: 8px;
        pointer-events: none;
        width: 8px;
      }
      img,
      svg {
        transition: margin 0.25s ease-out;
      }
      &:active {
        figcaption {
          letter-spacing: -0.15px;
          opacity: 90%;
        }
        img {
          margin-left: 7px;
        }
        svg {
          margin-right: 12px;
        }
        img,
        svg {
          transition: none;
        }
      }
    }
  }
}

.rename-box {
  background-color: #fff;
  border: 1px solid rgb(100, 100, 100);
  color: #000;
  border-radius: 0;
  font-family: inherit;
  font-size: 11.5px;
  margin-bottom: 2px;
  max-width: 75px;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  padding: 1px 5px;
  position: relative;
  resize: none;
  text-align: center;
  top: 2px;
  user-select: text;
  white-space: break-spaces;
  z-index: 1;
}
