.start-menu {
  display: flex;
  position: fixed;
  left: 0;
  bottom: var(--taskbar-height);
  border-right-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  background-color: hsla(0, 0%, 13%, 95%);
  color: #ffffff;
  height: 100%;
  width: 100%;
  max-height: var(--start-menu-max-height);
  max-width: var(--start-menu-size);
  box-shadow: 3px 0 10px 3px hsla(0, 0%, 10%, 50%);
  z-index: 9999;
  .blur-background {
    backdrop-filter: blur(12px);
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
