@import "../../../../styles/message.scss";

.photos-app {
  $buttonSize: 42px;
  $paddingSize: 32px;
  background-color: rgb(39, 39, 39);
  display: flex;
  height: 100%;
  padding: 0 0 $buttonSize 0;
  position: relative;
  svg {
    fill: #fff;
  }
  .photos-image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .broken-image {
      color: rgb(167, 167, 167);
      font-size: 13px;
      padding: 0 38px;
      text-align: center;
    }
    .photos-image {
      max-height: unset;
      max-width: unset;
    }
  }
  nav {
    display: flex;
    height: $buttonSize;
    place-content: center;
    place-items: center;
    position: absolute;
    width: 100%;
    &.top {
      top: 0;
      justify-content: center;
    }
    &.bottom {
      bottom: 0;
      justify-content: flex-end;
    }
    .split {
      width: 1px;
      height: 24px;
      background-color: rgb(125, 125, 125);
      margin: 0 0.25rem;
    }
    .scale {
      color: #fff;
      font-size: 0.875rem;
      padding: 0 0.75rem;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $buttonSize;
      width: $buttonSize;
      svg {
        height: 1.25rem;
      }
      &:disabled {
        pointer-events: none;
        svg {
          fill: rgb(125, 125, 125);
        }
      }
      &:hover {
        background-color: rgba(75, 75, 75, 50%);
        border-radius: 10%;
      }
      &:active {
        background-color: rgba(100, 100, 100, 50%);
      }
    }
  }
  &.--empty {
    @include message("Drop photo here", #fff);
    nav {
      display: none;
    }
  }
}
